body{
    margin: 0;
    font-size: 17px;
}
.content1 {
    font-size: 22px;
    color: rgb(83, 66, 66);
    margin-left: 65px;
    margin-top:50px ;
    font-weight: normal;
}

.tab{
    margin-left: 70px;
    width: 200px;
    display: inline-block;
}
.tabword{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: black;
    
}
.tabword1{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
.image{
    display: inline-block;
    width: 600px;
    margin-left: 200px;
    vertical-align: top;
}
.imagelogo{
    border-style: solid; 
    width: 50px;
    display: inline-block;
}

.remove{
    
    margin-left: 20px;
    margin-bottom: 10px;
    width: 170px;
    display: inline-block;
    vertical-align: top;
}
.overallbox1{
    margin-top: 30px;
    margin-left: 500px;
    margin-bottom: 30px;
}
.textbox1{
    width: 500px;
}
.cap{
    font-size: 20pt;
    margin-top: -10px;
    margin-bottom: 10px;
}
.button{
    margin-top: 10px;
    font-size: 20px;
}
.status{
    margin-left: 500px;
    margin-right: 200px;
    display: inline-block;
}
.inline1{
    font-size: 18pt;
    display: inline-block;
}
.inline2{
    
    display: inline-block;
}
.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative
    

    
}

.dropbtn {
    
    padding: 10px;
    display: flex;
    align-items: center;
    height: 20px;
    background-color: lightgray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    
    top: 100%;
    left:50;
    background-color: white;
    border: 1px solid gray;
    min-width: 100px;
}

.dropdown-content a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: lightgray;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    
}
.switchcenter{
    display: flex;
    align-items: center;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    border-radius: 25px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: lightgreen;
}

input:checked + .slider::before {
    transform: translateX(25px);
}
.firstline{
    display: flex;
    justify-content: space-between;
}
.secondline{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}