body {
  font-family: "Livvic";
  margin: 0;
  background-color: #fff;
  font-size: 17px;
}

.task-container {
  position: relative;
  width: 800px;
  margin: 20px auto;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  margin-right: 20px;
  z-index: 1;
}

.green {
  background-color: rgb(10, 204, 10);
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.task-content {
  flex-grow: 1;
}

.date {
  font-size: 12px;
  color: gray;
}

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

input[type="radio"]:checked::before,
input[type="radio"].forced-checked::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="radio"]:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

input[type="radio"]:disabled.forced-checked {
  background-color: transparent;
  border: 1px solid black;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}

.title {
  font-size: 21px;
  margin: 0;
  padding-left: 15px;
}

h2 {
  font-size: 22px;
  color: rgb(83, 66, 66);
  margin-left: 65px;
  margin-top: 50px;
  font-weight: normal;
}

h3 {
  font-weight: normal;
}