body {
  font-family: "Livvic";
  margin: 0;
  background-color: #fff;
  font-size: 17px;
}
.Contacts_Students {
  font-size: 22px;
  color: rgb(83, 66, 66);
  margin-left: 65px;
  margin-top: 50px;
  font-weight: normal;
}

.StudentContactsTable {
  border-collapse: collapse;
  margin: 50px;
  width: 90%;
  min-width: 200px;
}

.StudentContactsTable thead th {
  background-color: lightgray;
  text-align: left;
  padding-left: 20px;
}

.StudentContactsTable tbody td {
  padding: 7px;
  border-bottom: 1px solid lightgray;
  padding-left: 19px;
}
